/* benward.me v6.1.0 */

/* Font Sets */

html,
h1, h2, h3,
article .dateline,
ul.tags {
  font: 100%/150% "Alte Haas Grotesk", serif;
}

article {
  font-family: "Chapparral Pro", "Minion Pro", serif;
  font-weight: 200;
}

h1, h2, h3 {
  font-weight: bold;
}

/* Site */

html {
  margin: 0 auto;
  max-width: 35em;
  background: #E8EDF1; /*#f4f4f4;*/
}

body { margin: 0 16px; }

header,
footer,
body > article,
body > section {
  padding: 32px;
}

body > article,
body > section {
  background: #fff;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

header h1 {
  font-size: 170%;
  margin: 0;
}

header h1 a:link,
header h1 a:visited {
  color: #000;
}

article .dateline {
  margin: 12px 0;
  font-size: 12px;
}

article .dateline p {
  margin: 0 0 8px;
}

h1 {
  font-size: 130%;
  line-height: 150%;
  margin: 0 0 8px 0;
}
h2 {
  font-size: 110%;
  line-height: 150%;
  margin: 0 0 4px 0;
}
h3, h4 {
  font-size: 100%;
  line-height: 150%
}
h3 { margin: 0 0 4px 0; }

a:link {
  color: #A32226;
  text-decoration: none;
}
a:visited { color: #5A1013; }
a:hover, a:focus { text-decoration: underline; }
a:active { text-decoration: underline; }

q { quotes: none; }

ol, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

article li {
  margin: 2px 0 2px 20px;
  list-style-position: outside;
}

article ul li {
  list-style-type: disc;
}

article ol li {
  list-style-type: decimal;
}

blockquote {
  margin: 6px 12px 6px 0;
  padding-left: 12px;
  border: 4px solid #ccc;
  border-width: 0 0 0 4px;
}

article aside {
  margin-left: -16px;
  font-size: 80%;
}

/* Standard margin for article block content: */
p, dl, ol, ul  {
  margin: 0 0 16px;
}

kbd, output, samp {
  font-family: Verdana,sans-serif;
  font-size: 80%;
  padding: 0 2px;
  background: #dadada;
}

code {
  background: #dadada;
  font-size: 80%;
  font-family: monospace;
  padding: 0 2px;
}

pre code {
  display: block;
  padding: 4px;
  max-width: 100%;
  overflow-x: scroll;
}

article img {
  text-align: center;
  max-width: 100%;
  margin: 0 -32px;
}

body > article > .e-content > blockquote:first-child {
  border: 0;
  font-size: 200%;
  line-height: 130%;
  padding: 0;
  margin: 16px 0;
}

article .full-bleed {
  margin: 0 -32px;
}

article .full-bleed img {
  width: 100%;
  margin: 0;
}

article .pull-left {
  float: left;
  margin: 0 8px 0 -32px;
}

article .pull-right {
  float: right;
  margin: 0 -32px 0 8px;
}

/** Section: Archive Navigation */
article header,
article footer,
section.h-feed header,
section.h-feed footer {
  margin: 16px -32px -32px -32px;
  padding: 0 32px;
  border: 1px #ccc solid;
  border-width: 1px 0 0 0;
}

section.h-feed footer.tweets {
  margin-top: 32px;
  padding: 20px 20px 16px; /* less the Twitter padding */
}

section.h-feed header,
article header {
  margin: -32px -32px 16px -32px;
  border-width: 0 0 1px 0;
}

section.h-feed article {
  margin-bottom: 32px;
}

section.h-feed nav a,
article.h-entry nav a {
  display: inline-block;
  text-align: center;
  margin: 16px 0;
  white-space: nowrap;
}

section.h-feed nav a:first-child,
article nav a:first-child {
  text-align: left;
}
section.h-feed nav a:last-child,
article nav a:last-child {
  text-align: right;
}

section.h-feed nav a,
article.h-entry nav a {
  width: 33%;
}

section.h-feed.annual nav a,
section.h-feed.recent nav a {
  width: 49%;
}

/** Section: Archives */
.archives.annual section article {
  margin-left: 24px;
  position: relative;
}

/** Section: Page Footer */
body > footer {
  font-size: 80%;
  line-height: 21px; /* match Twitter button */
}

body > footer address {
  display: inline;
  font-style: normal;
}

body > footer .twitter-follow-button {
  float: right;
}

body > footer .footnote {
  margin-top: 100%;
  color: rgba(0,0,0,0.4);
  text-shadow: rgba(255,255,255,0.4) -1 0 2px;
}
body > footer .footnote a {
  color: rgba(0,0,0,0.4);
}

/** Section: Cover Image */
.cover {
  margin: -32px -32px 16px -32px;
  height: 293px;
  background: transparent url(../images/records.jpg) no-repeat 0 0;
  background-size: 640px auto;
  position: relative;
  color: #fff;
  box-shadow: inset 0 0 48px rgba(0, 0, 0, 0.5);
}
.cover p {
  position: absolute;
  bottom: 0; left: 0;
  margin: 0 0 8px 0;
  padding: 8px 32px;
  background: rgba(0,0,0,0.5);
}
.cover .photo-credit {
  position: absolute;
  top: 0; right: 0;
  margin: 32px;
}
.cover a:link,
.cover a:visited {
  color: #eee;
  text-decoration: underline;
}
.cover a:hover {
  color: #fff;
}

/** Section: Post tags */
ul.tags {
  padding: 0;
}
ul.tags li {
  margin: 0;
  padding: 0;
  display: inline-block;
  list-style: none;
  padding: 3px;
  border-radius: 3px;
  box-shadow: 0 0 1px rgba(0,0,0,0.7),
              inset 0 0 15px rgba(0, 0, 0, 0.1);
  background: #eee;
  margin-bottom: 4px;
  font-size: 75%;
  line-height: 120%;
}
ul.tags li a {
  display: inline-block;
  color: #000;
}

/** Section: Sharing */
.share {
  position: relative;
}
.share p {
  font-size: 80%;
}
.share kbd {
  font-family: Verdana, sans-serif;
  font-size: 80%;
  line-height: 100%;
  background: none;
}

/** Section: Button */
.button:link,
.button:active,
.button:visited,
.button:hover,
.button:focus {
  display: inline-block;
  background-color: #f8f8f8;
  background-image: -moz-linear-gradient(top, #fff, #dedede);
  background-image: -o-linear-gradient(top, #fff, #dedede);
  background-image: -webkit-linear-gradient(top, #fff, #dedede);
  background-image: linear-gradient(top, #fff, #dedede);
  border: #ccc solid 1px;
  border-radius: 3px;
  padding: 3px;
  color: #333;
  font: bold 11px/18px Helvetica, sans-serif;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  user-select: none;
  cursor: pointer;
  height: 18px;
}

.button:hover,
.button:focus {
  border-color: #A32226;
}

/** Section: Twitter Feed */
.tweets {
  text-align: right;
}
.tweets iframe.twitter-timeline-rendered {
  width: 100%;
}

.tweets a.twitter-timeline-link {
  display: inline-block;
  margin-right: 12px;
}

/** Section: Legacy comments */
#comments h2 {
  font-size: 100%;
}
#comments .about-comments {
  font-size: 80%;
}
#comments > ol {
  margin: 0; padding: 0;
}
#comments > ol > li {
  margin: 0 0 16px 0;
  list-style: none;
}
#comments .hentry {
  position: relative;
  padding-left: 30px;
}
#comments .hentry .photo {
  position: absolute;
  top: 0; left: 0;
  width: 50px; height: 50px;
}

/** Section: Narrow */
@media (max-width: 420px) {
  body { margin: 0; }
  header,
  footer,
  body > article,
  body > section { padding: 16px; }
  section.h-feed footer.tweets {
  margin-top: 16px;
  padding: 4px 4px 0; /* less the Twitter padding */
  }
  header { padding: 32px 16px; }
  .cover { margin: -16px -16px 16px -16px; }
  .cover p { padding: 8px 16px; }
  article .full-bleed { margin: 0 -16px; }
  article .pull-left { margin: 0 8px 0 -16px; }
  article .pull-right { margin: 0 -16px 0 8px; }
  body > footer .twitter-follow-button { float: none; }
  section.hfeed header,
  article header,
  section.hfeed footer,
  article footer {
    margin: 16px -16px -16px -16px;
    padding: 0 16px;
  }
  section.hfeed header,
  article header { margin: -16px -16px 16px -16px; }
  section.hfeed nav a,
  article.hentry nav a { font-size: 80%; }
  article > aside { margin-left: -8px; }
}