{% if page.period['month'] %}
{% assign dateformat = '%B %Y' %}
{% else %}
{% assign dateformat = '%Y' %}
{% endif %}
<nav>
{% if page.previous_period %}
  <a rel="prev" href="{{page.previous_period | archive_url }}">← {{page.previous_period | format_archive_date: dateformat}}</a>
{% else %}
  <a rel="last" href="{{page.last_period | archive_url}}">↳ {{page.last_period | format_archive_date: dateformat}}</a>
{% endif %}
{% if page.period['month'] %}<a rel="up" href="/{{page.period['year']}}">↑ {{page.period['year']}}</a>{% endif %}
{% if page.next_period %}
  <a rel="next" href="{{page.next_period | archive_url}}">{{page.next_period | format_archive_date: dateformat}} →</a>
{% else %}
  <a rel="first" href="{{page.first_period | archive_url}}">{{page.first_period | format_archive_date: dateformat}} ↵</a>
{% endif %}
</nav>