<script>
var _gauges = _gauges || [];
!function(){
  var d=document,s='script',fjs;
  function el(t){return d.getElementsByTagName(t)}
  fjs=el(s)[0];
  function ex(i){return d.getElementById(i)}
  function scr(i,src){var r=d.createElement(s);r.id=i;r.src=src;return r}
  function ins(s){fjs.parentNode.insertBefore(s,fjs)}
  !function(id){if(!ex(id)){ins(scr(id,"//platform.twitter.com/widgets.js"))}}("twitter-wjs");
  !function(id){var j=scr(id,'//secure.gaug.es/track.js');j.setAttribute('data-site-id','515a7c52108d7b061f000024');ins(j)}('gauges-js');
  !function(id,to){var h=el('html')[0],j=scr('tk-js','//use.typekit.net/'+id+'.js'),l=false,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g," ");h.className+=" wf-inactive"},to);h.className+=" wf-loading";j.onload=j.onreadystatechange=function(){var r=this.readyState;if(l||r&&r!="complete"&&r!="loaded")return;l=true;clearTimeout(t);try{Typekit.load({kitId:id,scriptTimeout:to})}catch(b){}};ins(j)}('dka8sjx',3000);
}();</script>