{% capture short_url %}{{site.shortdomain}}/{{page.global_date | date: "%s" | base_60}}{% endcapture %}
<div id="respond" class="share">
  <h2>Share &amp; Respond</h2>
  <p>To share this entry, or reference it in a post of your own, link to the following:</p>
  <p>Permalink: <kbd><a rel="canonical nofollow" href="{{site.url}}{{page.url}}">{{site.url}}{{page.url}}</a></kbd>
  <!--Shortlink: <kbd><a rel="shortlink nofollow" href="{{short_url}}">{{short_url}}</a></kbd>--></p>
  <p>
    <a class="twitter-share-button" href="http://twitter.com/share?text={{page.title | cgi_escape}}&amp;via={{site.author.twitter | cgi_escape}}" data-count="none" data-align="right">Tweet</a>
    <a class="twitter-mention-button" href="http://twitter.com/intent/tweet?screen_name={{site.author.twitter | cgi_escape}}&amp;related={{site.author.twitter | cgi_escape}}" data-count="none" data-align="right">Tweet to @{{site.author.twitter}}</a>
  </p>
</div>