<!DOCTYPE html>
<html lang="en-gb" id="uk-benward">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width; initial-scale=1.0;">
  <link rel="stylesheet" type="text/css" href="/css/sixone.css">
{% include profiles.html %}
	<link rel="shortcut icon" href="/favicon.png" type="image/png">
  <link rel="alternate" type="application/atom+xml" href="/feed.atom" title="Ben Ward">
{% include identity.html %}
{% include twitter.html %}
  <title>{% if page.title %}{{page.title}} · {% endif %}{{site.title}}</title>
</head>
<body>
  <header>
    <h1>{% if page.title %}<a rel="home" href="/">{{site.title}}</a>{% else %}{{site.title}}{% endif %}</h1>
  </header>
  {{content}}
  <footer>
    <a rel="me" class="twitter-follow-button" href="https://twitter.com/benward" data-show-count="false">Follow @benward</a>
    <abbr title="Copyright">©</abbr>
    <abbr title="{{site.time | date: '%Y'}}">{{site.time | date: '%Y' | romanize}}</abbr>
    <address class="h-card"><a class="p-name u-url" href="http://benward.uk" rel="me author">Ben Ward</a></address>
    All rights reserved
    <nav><p>
      <a rel="me" href="/about">About</a>
    · <a href="/feeds">Feeds</a>
    · <a href="https://github.com/{{site.github_slug}}">View Source</a>
    </p></nav>
    <p class="footnote">Questions on this blog will be answered gladly if correct
      postage is enclosed.<a href="http://www.flickr.com/photos/benward/4371355580/">†</a></p>
  </footer>
{% include scripts.html %}
</body>
</html>
