---
layout: base
---
<article class="h-entry">
  <h1 class="p-name">{{page.title}}</h1>
  <div class="dateline">
    <p class="time">
      <time class="dt-published" datetime="{{page.global_date}}">{{page.global_date | date: site.dateformat}}</time>.
      {% if page.updated %}Updated: <time class="dt-updated" datetime="{{page.updated}}">{{page.updated | date: site.dateformat}}</time>.{% endif %}
    </p>
    {% if page.geo && page.geo.name %}
    <p class="place">
      {% if page.geo.xy %}<data clas="p-geo h-geo" value="{{page.geo.xy}}"></data>{% endif %}
      <span class="p-adr">{{page.geo.name}}</span>
    </p>
    {% endif %}
  </div>
  <div class="e-content">{{content}}</div>
  <ul class="tags">{% for tag in page.tags %}
    <li><a class="p-category" rel="tag" href="/tags/{{tag}}">{{tag}}</a></li>{% endfor %}
  </ul>
  {% include share.html %}
  <footer><nav>
  {% if page.previous %}<a rel="prev" href="{{page.previous.url}}" title="{{page.previous.title}}">← Older</a>{% endif %}
  <a rel="parent" href="/{{page.date | date: "%Y/%m"}}">↑ {{page.date | date: "%B %Y"}}</a>
  {% if page.next %}<a rel="next" href="{{page.next.url}}" title="{{page.next.title}}">Newer →</a>{% endif %}
  </nav></footer>
</article>