---
layout: base
---
<section class="h-feed recent">
  {% include cover.html %}
  <h1>Recent Posts</h1>
  <ol class="posts">
  {% for post in site.categories.blog limit: 10 %}
  {% capture last_date %}{{post.date | date: "%Y/%m"}}{% endcapture %}
  <li>{% include post_summary.html %}</li>
  {% endfor %}
  </ol>
  <footer><nav>
    <a rel="parent" href="/{{last_date}}">↑ Archive</a>
    <a href="/network">⇶ Elsewhere</a>
  </nav></footer>
  <footer class="tweets">
    <a class="twitter-timeline"
       href="https://twitter.com/benward"
       data-widget-id="243984307658559488"
       data-chrome="noheader nofooter noborders"
       data-tweet-limit="5"></a>
    <a class="twitter-timeline-link" rel="me" href="https://twitter.com/benward">More Tweets →</a>
  </footer>
</section>